body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
  list-style: none;
  overflow: scroll;
  max-height: 80vh;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#root {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  height: 100%;
}

.app {
  max-height: 100%;
}

li {
  flex: 4;
}

form.taskEdit {
  display: flex;
  flex: 1;
}

div.task input {
  flex: 4;
}

button.deleteTask,
button.editTask {
  flex: 1;
}

div.task {
  display: flex;
  border-bottom: 0.5px solid black;
}

div.task:last-child {
  border-bottom: 0px;
}
